body {
    overflow-x: hidden;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

#instructions {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
}

#instructions::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-bg-color);
    opacity: 0.95;
}

.instructions-content {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0 100px;
}

.instructions-content > h1 {
    font-size: 5rem;
}

.instructions-content > p {
    font-size: 1.25rem;
    max-width: 900px;
    margin: 35px 0 30px 0;
}

button {
    background-color: transparent;
    color: white;
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
    border: 1px solid white;
    border-radius: 2em;
    cursor: pointer;
    transition-duration: 0.5s;
}

button:hover {
    background-color: white;
    color: var(--dark-bg-color);
    letter-spacing: 2px;
}

#camera-btn {
    padding: 10px 30px;
    font-size: 1.25rem;
    border-width: 2px;
    align-self: center;
}

#main-section {
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-bg-color);
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}

#chosen-word {
    text-transform: uppercase;
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.letter {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

.video-container {
    margin: 0 0 10px 0;
    width: 480px;
    height: 360px;
}

.video-holder {
    position: absolute;
    border: 2px solid white;
    border-radius: 5px;
    width: 480px;
    height: 360px;
    overflow: hidden;
}

#webcam {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#output-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.textfield {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-family: 'Merriweather', serif;
    width: 70%;
    padding: 5px 5px;
}

.spell-btn {
    width: 20%;
    border-radius: 5px;
    font-size: 1rem;
}

@keyframes big-text-anim {
    from {
        left: -200%;
    }
    to {
        left: 100%;
    }
}

.big-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 25vw;
    letter-spacing: 1vw;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    opacity: 0.2;
    z-index: 0;
    animation: big-text-anim 20s linear infinite;
}

#asl-letters {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--dark-bg-color) url("../images/asl-letters.png") no-repeat center;
    z-index: 98;
    background-size: 50%;
}

#open-letters-btn {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition-duration: 0.5s;
}

#open-letters-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.up-arrow {
    position: relative;
    left: 50%;
    width: 15px;
    height: 15px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: translateX(-50%) rotate(45deg);
}

#close-letters-btn {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition-duration: 0.5s;
    z-index: 98;
}

#close-letters-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.down-arrow {
    position: relative;
    left: 50%;
    width: 15px;
    height: 15px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: translateX(-50%) rotate(225deg);
}

.error-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 75vw;
    max-width: 750px;
    aspect-ratio: 4/3;
    z-index: 50;
    background-color: #141414;
    padding: 25px;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(56, 56, 56);
    opacity: 0;
    visibility: hidden;
}

.modal-close-btn {
    /* relative to parent element */
    position: fixed;
    top: 10%;
    right: 4%;
}

.error-modal > .top {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-modal > .bottom {
    height: 50%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.error-modal > .bottom > h1 {
    font-size: 3rem;
}

.error-modal > .bottom > p {
    font-size: 1rem;
    margin: 15px 0;
    inline-size: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.error-modal > .bottom > button {
    font-size: 1rem;
    padding: 0.75em 3em;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    z-index: 49;
    transition-duration: 500ms;
}

@keyframes blink {
    from {
        color: transparent;
    }
    50% {
        color: white;
    }
    to {
        color: transparent;
    }
}

.blinking {
    animation: blink 2s linear infinite;
}

@media screen and (min-width: 750px) and (max-width: 1368px) {
    .instructions-content {
        padding: 0 80px;
    }
    .instructions-content > h1{
        font-size: 4rem;
    }
    .instructions-content > p {
        font-size: 1.1rem;
    }
    #camera-btn {
        font-size: 1.25rem;
    }
    #asl-letters {
        background-size: 60%;
    }
    .big-text {
        font-size: 30vw;
    }
}

@media screen and (min-width: 400px) and (max-width: 749px) {
    .instructions-content {
        padding: 0 50px;
    }
    .instructions-content > h1{
        font-size: 3.25rem;
    }
    .instructions-content > p {
        font-size: 1rem;
    }
    #camera-btn {
        font-size: 1.1rem;
    }
    .error-symbol {
        height: 100px;
    }
    .error-modal > .bottom > h1 {
        font-size: 2.25rem;
    }
    
    .error-modal > .bottom > p {
        font-size: 0.9rem;
    }
    
    .error-modal > .bottom > button {
        font-size: 0.9rem;
        padding: 0.75em 2.5em;
    }
    #asl-letters {
        background-size: 75%;
    }
    .big-text {
        font-size: 35vw;
    }
}

@media screen and (min-width: 200px) and (max-width: 399px) {
    .instructions-content {
        padding: 0 20px;
    }
    .instructions-content > h1{
        font-size: 2.5rem;
    }
    .instructions-content > p {
        font-size: 1rem;
    }
    #camera-btn {
        font-size: 1rem;
    }
    .error-modal > .bottom > h1 {
        font-size: 1.75rem;
    }
    
    .error-modal > .bottom > p {
        font-size: 0.7rem;
        inline-size: 100%;
        margin: 10px 0;
    }

    .error-modal > .bottom > button {
        font-size: 0.7rem;
        padding: 0.6em 2.25m;
    }
    #asl-letters {
        background-size: 95%;
    }
    .big-text {
        font-size: 35vw;
    }
}

@media screen and (max-width: 600px) {
    .error-modal {
        aspect-ratio: 3/4;
    }
    .error-symbol {
        height: 100px;
    }
}

@media screen and (max-width: 500px) {
    #chosen-word {
        font-size: 3rem;
    }
    .video-container, .video-holder {
        width: 280px;
        height: 210px;
    }
    .spell-btn {
        font-size: 0.8rem;
    }
}