:root {
    color: white;
    font-family: 'Merriweather', serif;
    --dark-bg-color: #262626;
    --light-bg-color: #eeeeee;
    --dark-secondary-color: #444444;
    --light-secondary-color: white;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background: black url("../images/preloader-icon.gif") no-repeat fixed center;
    background-size: 15%;
}

a {
    color: var(--light-secondary-color);
    text-decoration: none;
}

.menu-btn {
    position: fixed;
    top: 10%;
    right: 10%;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.menu-btn:hover {
    cursor: pointer;
}

.menu-btn:hover > .outer-menu-icon {
    scale: 150%;
    border: 1px solid rgba(255, 255, 255, .25);
}

.menu-btn:hover .inner-menu-icon {
    scale: 15%;
    background-color: var(--light-secondary-color);
}

.menu-btn:hover > span {
    margin-right: 1.5rem;
    opacity: 0.25;
}

.menu-btn > span {
    color: var(--light-secondary-color);
    margin-right: 1rem;
    font-size: 0.75rem;
    letter-spacing: 6px;
    font-weight: 100;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

.outer-menu-icon {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid var(--light-secondary-color);
    rotate: 45deg;
    background-color: transparent;
    transition-duration: 0.5s;
}

.inner-menu-icon {
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition-duration: 0.5s;
}

.menu-btn.dark > span {
    color: var(--dark-secondary-color);
}

.menu-btn.dark > .outer-menu-icon {
    border-color: var(--dark-secondary-color);
}

.menu-btn.dark:hover > .outer-menu-icon {
    border-color: rgba(68, 68, 68, 0.25);
}

.menu-btn.dark:hover .inner-menu-icon {
    background-color: var(--dark-secondary-color);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    font-family: 'Merriweather', serif;
    background-color: var(--dark-bg-color);
    z-index: 100;
}

.menu-main-sec {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 100px;
}

.primary-nav-links li a, .secondary-nav-links li a {
    transition-duration: 0.5s;
}

.primary-nav-links {
    margin: 0rem 0rem 5rem 0rem;
    font-size: 4rem;
    list-style: none;
}

.primary-nav-links li {
    margin: 1rem 0rem;
    overflow: hidden;
}

.primary-nav-links li a {
    display: inline-block;
    position: relative;
    transition: opacity 0.5s linear;
}

.primary-nav-links:hover li a {
    opacity: 0.3;
}

.primary-nav-links:hover li:hover a {
    opacity: 1;
}

.secondary-nav-links {
    list-style: none;
    font-size: 1rem;
}

.secondary-nav-links li {
    margin: 0.5rem 0rem;
}

.secondary-nav-links:hover li a {
    opacity: 0.3;
}

.secondary-nav-links:hover li:hover a {
    opacity: 1;
}

@media screen and (max-width: 1440px) {
    .menu-main-sec {
        top: 55%;
    }

    .primary-nav-links {
        font-size: 3rem;
        margin: 0rem 0rem 4rem 0rem;
    }
}

@media screen and (max-width: 1024px) {
    .primary-nav-links {
        font-size: 2.5rem;
    }
}