h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
    margin: 0;
}

p {
    font-size: 2rem;
    font-weight: 100;
    margin: 35px 0 30px 0;
    inline-size: 75vw;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.25;
    }

    to {
        rotate: 360deg;
    }
}

.blob {
    background-color: white;
    /* background: linear-gradient(to right, aquamarine, mediumpurple); */
    height: 200px;
    width: 200px;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 20s infinite;
    filter: blur(130px);
    z-index: 1;
}

.mainSection {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: var(--dark-bg-color);
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 55%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 100px;
    z-index: 2;
}

/* splits "Silence" in the h1 tag on hover */
#splitText > .letter {
    display: inline-block;
    transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#splitText:hover > .letter:nth-child(1) {
    transform: translate(-40%, -30%) rotate(8deg);
}

#splitText:hover > .letter:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
}

#splitText:hover > .letter:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
}

#splitText:hover > .letter:nth-child(4) {
    transform: translate(-0%, 8%) rotate(-8deg);
}

#splitText:hover > .letter:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
}

#splitText:hover > .letter:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
}

#splitText:hover > .letter:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
}

.learnBtn {
    box-sizing: border-box;
    padding: 10px 30px;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    transition-duration: 0.5s;
    align-self: center;
}

.learnBtn:hover {
    background-color: white;
    color: var(--dark-bg-color);
    letter-spacing: 2px;
}

@media screen and (min-width: 960px) and (max-width: 1368px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 750px) and (max-width: 959px) {
    .mainContent {
        top: 50%;
    }
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 749px) {
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.25rem;
    }
    .mainContent {
        top: 50%;
        padding: 0 50px;
    }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
    h1 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.25rem;
    }
    .mainContent {
        top: 50%;
        padding: 0 50px;
    }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.25rem;
    }
    .mainContent {
        top: 50%;
        padding: 0 50px;
    }
}

@media screen and (min-width: 200px) and (max-width: 399px) {
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.25rem;
    }
    .mainContent {
        top: 50%;
        padding: 0 50px;
    }
    .learnBtn {
        font-size: 1rem;
    }
}